.App {
  width: 80%;
  margin: auto;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.module--spacing--small {
  height: 20px;
}

.module--spacing--large {
  height: 40px;
}
